<% if current_page?(root_path) %>
<%# Index page %>
<div class = "post_content">
 <div class = "upper_content">
  <p class = "post_title"><%= post.titles %></p>
  <p class = "poster">By <%= link_to post.user.name, "/users/#{post.user_id}", method: :get %></p>
  <% if post.images.present? %>
   <div class = "image_box"><%= image_tag post.images, class: "image"%></div>
  <% else %>
   <div class = "image_box"><%= image_tag "default.png", class: "image"%></div> 
  <% end %>
  <p class = "receipe_title">Recipe</p>
  <p class = "post_receipe"><%= post.receipes.truncate(150) %></p>
 </div>
 <div class = "button">
  <%= link_to "More", post_path(post.id), class: "more_button"%>
 </div>
</div>
<% else %>
<%# My page %>
 <div class = "post_content">
  <div class = "upper_content">
   <p class = "post_title"><%= post.titles %></p>
   <p class = "poster">By <%= link_to post.user.name, "/users/#{post.user_id}", method: :get %></p>
   <% if post.images.present? %>
    <div class = "image_box"><%= image_tag post.images, class: "image"%></div>
   <% else %>
    <div class = "image_box"><%= image_tag "default.png", class: "image"%></div> 
   <% end %>
   <p class = "receipe_title">Recipe</p>
   <p class = "post_receipe"><%= post.receipes.truncate(150) %></p>
  </div>
  <div>
  <p>Comment</p>
  </div>
  <div class = "button">
   <%= link_to "More", post_path(post.id), class: "more_button"%>
   <%= link_to "Edit", edit_post_path(post.id), class: "edit_button" %>
   <%= link_to "Delete", post_path(post.id), method: :delete, class: "delete_button" %> 
 </div>
 </div>
<% end %>