<%= form_with model: @post, local: true do |form| %>
 <%= form.text_field :titles, placeholder: "Title"%>
 <%= form.text_field :images, placeholder: "Image URL" %>
 <%= form.text_field :receipes, placeholder: "Receipe" %>
 <%= form.submit value = "UPDATE" %>
<% end %>
<div>
 <%= link_to "Delete", post_path(@post.id), method: :delete %> 
 <%= link_to "Back", root_path %>
</div>
