<div class = "post_content">
  <div class = "upper_content">
   <p class = "post_title"><%= @post.titles %></p>
   <p class = "poster">By <%= link_to @post.user.name, "/users/#{@post.user_id}", method: :get %></p>
   <% if @post.images.present? %>
    <div class = "image_box"><%= image_tag @post.images, class: "image"%></div>
   <% else %>
    <div class = "image_box"><%= image_tag "default.png", class: "image"%></div> 
   <% end %>
   <p class = "receipe_title">Recipe</p>
   <p class = "post_receipe"><%= @post.receipes %></p>
  </div>
  <div>
   <p>Comment</p>
    <% @comments.each do |comment| %>
     <%= comment.text %>
     <%= comment.user.name %>
    <% end %>
  </div>
 <div>
  <%= link_to "Back", root_path %>
 </div>