<div class = "detail_post_content">
  <div class = "upper_content">
   <p class = "post_title"><%= @post.titles %></p>
   <p class = "poster">By <%= link_to @post.user.name, "/users/#{@post.user_id}", method: :get %></p>
   <% if @post.images.present? %>
    <div class = "image_box"><%= image_tag @post.images, class: "image"%></div>
   <% else %>
    <div class = "image_box"><%= image_tag "default.png", class: "image"%></div> 
   <% end %>
   <p class = "receipe_title">Recipe</p>
   <p class = "post_receipe"><%= @post.receipes %></p>
  </div>
  <div>
   <p class = "comment_title">Comment</p>
    <% @comments.each do |comment| %>
    <div class = "comment_content">
     <%= comment.comment %>
     By <%= comment.user.name %>
     <%= link_to "Delete", post_comment_path(@post, comment), method: :delete, class: "comment_delete" %>
     </div>
    <% end %>
    <% if user_signed_in? %>
    <div class = "comment_form_content">
     <%= form_with model: [@post, @comment], local: true do |form| %>
      <%= form.text_field :comment, placeholder: "Comment", class: "comment_form" %>
      <%= form.submit value = "Post" %>
    </div>
     <% end %>
    <% else %>
    <div class = "comment_warning_content">
     <p class = "comment_warning">@@ You need to sign in to post the comment @@</p>
     <%= link_to "Sign In", new_user_session_path, class: "comment_signin"%> / <%= link_to "Sign Up", new_user_registration_path, class: "comment_signup" %>
     </div>
    <% end %>
  </div>
 <div>
  <%= link_to "Back", root_path %>
 </div>