<p><%= @post.titles %></p>
<p><%= @post.receipes %></p>
<div>
 <%= link_to "Edit", edit_post_path(@post.id) %>
 <%= link_to "Delete", post_path(@post.id), method: :delete %> 
 <%= link_to "Back", root_path %>
</div>