<!DOCTYPE html>
<html>
  <head>
    <title>ReceipeBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <header>
      <%= link_to "Receipe Blog", root_path, class: "header_title"%>
      <% if user_signed_in? %>
       <ul class = "nav_bar">
         <li class = "nav_list"><%= current_user.name %></li>
         <li class = "nav_list"><%= link_to "My page", "/users/#{current_user.id}", class: "link" %></li>
         <li class = "nav_list"><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "link" %></li>
         <li class = "nav_list"><%= link_to "New Post", new_post_path, class: "link" %></li>
       </ul>
      <% else %>
       <ul class = "nav_bar">
         <li class = "nav_list"><%= link_to "Sign In", new_user_session_path, class: "link" %></li>
         <li class = "nav_list"><%= link_to "Sign Up", new_user_registration_path, class: "link" %></li>
       </ul>
      <% end %>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer>
      <p>Copyright</p>
    </footer>
  </body>
</html>
